* {
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#000000), to(#434343));
  background: linear-gradient(to right, #000000, #434343);
  font-family: "Roboto";
}

.container_ {
  width: 1120px;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form_area {
  width: 30%;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form_area form {
  display: block;
  width: 100%;
}

.form_area form .formField {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.form_area form .formField .addTitle {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}

.form_area form .formField input {
  width: 100%;
  height: 35px;
  padding: 0px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form_area form .formField input:focus {
  outline: none;
}

.form_area form .addBtn {
  width: 100%;
  height: 45px;
  outline: none;
  border: none;
  background-color: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.form_area form .addBtn:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.card_list {
  width: 68%;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card_list .card {
  width: calc(33.33% - 4px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border: 1px solid #eee;
  position: relative;
  padding: 50px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.card_list .card .avatar {
  width: 100px;
  height: 100px;
  display: block;
  border: 1px solid #eee;
  overflow: hidden;
  border-radius: 100px;
}

.card_list .card .avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card_list .card .social {
  margin-top: 5px;
}

.card_list .card .social .fa {
  font-size: 14px;
  color: #000;
}

.card_list .card .social .fa + .fa {
  margin-left: 10px;
}

.card_list .card:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transform-origin: center;
          transform-origin: center;
  z-index: 1;
}

.card_list .card h3 {
  font-size: 18px;
  text-transform: uppercase;
  margin: 10px 0 5px 0;
}

.card_list .card h6 {
  font-size: 12px;
  font-weight: 400;
}
/*# sourceMappingURL=App.css.map */